.cart {
    display: flex;
    padding: 20px 0;
    width: 100%;
}

.cart__left {
    flex: 0;
    animation: animationImg .5s ease-in-out;
}

@keyframes animationImg {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.cart__item-img {
    display: block;
}

.cart__item--img>img {
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px) translateX(-6px);
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
}

.cart__right {
    flex: 1;
    padding-left: 25px;
}

@keyframes animationLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(30%)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.cart__name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    animation: animationLeftToRight .3s ease-in-out;

}

.cart__price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    animation: animationLeftToRight .3s ease-in-out;

}

.cart__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: animationLeftToRight .5s ease-in-out;

}

.cart__action-count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart__btn-minus {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}

.cart__count-number {
    font-size: 14px;
    margin: 0 8px;
    width: 20px;
    text-align: center;
}


.cart__btn-plus {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;

}



.cart__btn-remove {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: all .25s ease;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6c90e;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}

.cart__btn-remove:hover {
    background-color: #f8d43f;
    box-shadow: -2px 2px 4px rgb(0 0 0 / 15%);
}

.cart__btn-minus:hover {
    background-color: #ddd;
}

.cart__btn-plus:hover {
    background-color: #ddd;
}


.cart__btn-remove img {
    width: 16px;
    height: 16px;
}

.delete {
    transform: scale(0);
    transition: all .5s ease-in-out;
}